{{data-source src=(concat '/' dc '/node/' slug) filter=(to-filter terms map=(array
  (array 'node:' 'Node == "%s"')
  (array 'status:' 'Checks.Status == %s')
  (array '' 'Node == "%s"')
)) onmessage=(action (mut items) value='data')}}
{{#app-view class="node list" loading=(is-undefined items)}}
  {{#block-slot 'header'}}
    <h1>
        Nodes <em>{{format-number items.length}} total</em>
    </h1>
    <label for="toolbar-toggle"></label>
  {{/block-slot}}
  {{#block-slot 'toolbar'}}
    {{phrase-editor placeholder=(if (eq terms.length 0) 'node:name status:critical search-term' '') value=(slice 0 terms.length terms) onchange=(queue (action (mut terms) value='detail.value') (action 'query' value='detail.value'))}}
  {{/block-slot}}
  {{#block-slot 'content'}}
{{#if (gt items.length 0) }}
    <div class="unhealthy">
      <div>
        <ul>
          {{#each items as |item|}}
            {{healthchecked-resource
              tagName='li'
              data-test-node=item.Node
              href=(href-to 'dc.nodes.show' item.Node)
              name=item.Node
              address=item.Address
              checks=item.Checks
            }}
          {{/each}}
        </ul>
      </div>
    </div>
{{else}}
    <p>
        There are no nodes.
    </p>
{{/if}}
  {{/block-slot}}
{{/app-view}}