{{#event-source as |src target dispatch throw|}}
  <ul>
      {{#each value as |item index|}}
        <li>
          <button type="button" {{action (queue (action 'remove' index) (action dispatch 'focus'))}}>Remove</button>{{item}}
        </li>
      {{/each}}
  </ul>
  <label class="type-search">
    <span>Search</span>
    <input onchange={{action 'add'}} onsearch={{action 'add'}} oninput={{action 'input'}} onkeydown={{queue (action 'keydown') (action dispatch 'focus')}} placeholder={{if (eq value.length 0) placeholder}} value={{item}} type="search" name="s" autofocus="autofocus" />
    {{event-source src=src onfocus=(action target 'focus')}}
  </label>
{{/event-source}}